{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome To Foodelicious App</h1>
    <div class="container border border-success rounded mx-auto text-center mb-3 p-3" style="background-color: #fef6f4;">
        <span>This app allows user to control their daily diet by providing the nutrition of their food. 
            It also provides some random recipes which are supposed to give users ideas of what to eat every meal.
            Moreover, the user also can refine their meal by nutrition such as calories and fats so they are able to 
            control their daily diet and make their everyday menu variously</span>
    </div>

    <div class="container" >
        <form action="/search">
            <button class="btn-outline-success btn-lg" style="background-color: #fda898;">Search Ingredient</button>
        </form>
    
    </div>
    <div class="container">
        <form action="/meals">
            <button class="btn-outline-success btn-lg" style="background-color: #fda898;">My Daily Meal</button>
        </form>
    
    </div>
    <div class="container">
        <form action="/random">
            <button class="btn-outline-success btn-lg" style="background-color: #fda898;">Random Recipes</button>
        </form>
    
    </div>
    <div class="container">
        <form action="/random">
            <button class="btn-outline-success btn-lg" style="background-color: #fda898;">Refine Recipes</button>
        </form>
    
    </div>
    <div class="container">
        <form action="/favorites">
            <button class="btn-outline-success btn-lg" style="background-color: #fda898;">My Favorites</button>
        </form>
    
    </div>

{% endblock %}