{% extends 'base.html' %}

{% block content %}
<h1>Your Meal</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        
        {% endfor %}
       
    </p>
    {% endfor %}

    <button class="btn btn-sucess" type="submit">Add Ingredient</button>
</form>

<ul> 
    {% for ingredient in ingredients %}
    <div>
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title text-info">{{ ingredient.ingredient }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calories: </h6>
            </div>
        </div>
    </div>
    
    {% endfor %}
    <div>
        <h6>Total Calories: </h6>
    </div>
</ul>

{% endblock %}


