{% extends 'base.html' %}
{% block title%}Ingredient Information{% endblock %}
{% block content %}
<div class="container">
    <h1 class="card border" style="background-color: #fef6f4;">{{name}}</h1>
    <div class="card border" style="background-color: #fef6f4;">
        <h2> Nutritions: </h2>
        <p>Calories: {{nutrition['calories']}}</p>
        <p>Fat: {{nutrition['fat']}}</p>
        <p>Carbs: {{nutrition['carbs']}}</p>
        <p>Protein: {{nutrition['protein']}}</p>
    </div>
   

</div>

{% endblock %}