{% extends 'base.html' %}

{% block content %}
<h1>Your Meal</h1>

<div class="container card border">
    {% if g.user.ingredients %}
    <div class="row justify-content-center align-items-center mt-2" id="meal">
      {% for i in g.user.ingredients %}
      <div>
        <a href="/ingredients/{{i.id}}" data-id="{{i.id}}" class="show-ingredient">
          <div class="card border mb-4 mx-auto">

              <div class="py-0" style="background-color: #fef6f4;">
                <h5 class="text-danger card-title m-2">{{i.name}}</h5></a>
              
                {% if g.user %}
                <div class="vertical-group meal-info">
                    <button style="float: right;" data-id="{{i.id}}" class='meal btn btn-sm'>
                        <i class="{% if i.id in ingredient_ids %}fa fa-minus fa-2x{% else %}fa fa-plus fa-2x{% endif %}"></i></button>
                </div>
                {% endif %}
            </div>
               
          </div>
      </div>
      {% endfor %}
      <div>
          <form type="click">
              <a href="/search" class="btn btn-outline-success btn-lg" style="background-color: #fda898;">Add More Food</a>
          </form>
      </div>
      <div class="flex">
        <form type="click">
          <button id="remove-meal" class="btn btn-outline-success btn-lg" style="background-color: #fda898;">Remove Meal</button>
        </form>
     
    </div>
      <div>
        <a href="/" class="btn btn-outline-success btn-lg" style="background-color: #fda898;">Home</i></a>
      </div>
      
      
      {% else %}
      <div class="jumbotron my-4">
        <div class="container">
          <h1 class="display-4 text-danger text-center"> Sorry, you do not have any food in here!
            <a href="/" class="btn btn-outline-success btn-lg" style="background-color: #fda898;">Home</a>
          </h1>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
  {% endblock %}

