{% extends 'base.html' %}
{% block title %}Recipes from Random{% endblock %}
{% block content %}
<div class="border border-success rounded p-3 text-center flex container row">
    {% if recipes %}
        <div id="recipe-info" class="row justify-content-center align-items-center">
            <div id="jumbotron col-3 my-4">
                <div id="card">
                    <h5>Refine Your Search By Calories</h5>
                        <form id="card" action="/refine" role="refine">
                            <select class="select" name="diet" id="diet">
                                <option selected>
                                    <span class="text-muted">Diets</span></option>
                                    {% for diet in diets %}
                                    <option value="{{diet}}"> {{ diet.capitalize() }}</option>
                                    {% endfor %}
                                </option>
                            </select>
                            <select class="select" name="maxCalories" id="maxCalories">
                                <option selected>
                                    <span class="text-muted">Max Calories</span></option>
                                    {% for maxCalories in maxCalorieses %}
                                    <option value="{{maxCalories}}"> {{ maxCalories }}</option>
                                    {% endfor %}
                                </option>
                            </select>
                            <select class="select" name="maxFat" id="maxFat">
                                <option selected>
                                    <span class="text-muted">Max Fat</span></option>
                                    {% for maxFat in maxFats %}
                                    <option value="{{maxFat}}"> {{ maxFat }}</option>
                                    {% endfor %}
                                </option>
                            </select>
                            <div>
                                <button class="btn btn-outline-success btn-lg mt-3" style="background-color:#fda898;"  type="submit">Refine</button>
                                
                            </div>
                        </form>
                </div>
                
            </div>
        </div>
    {% for r in recipes %}
    <div class="jumbotron1 col-3 col-sm-10-6 m-2">
        <a href="/recipes/{{r.id}}" data-id="{{r.id}}" class="show-recipe">
            <div class="card border recipe-info" style="background-color: #fef6f4;">
                <img src="{{r.image}}" class="card-img-top" alt="{{r.name}}">
                <div class="card-body py-1">
                    <h5>{{r['title']}}</h5></a>
                    {% if g.user %}
                    <button data-id="{{r.id}}" class="fav btn btn-sm">
                        <i class="{% if r.id in recipe_ids %} fas fa-heart fa-2x{% else %}far fa-heart fa-2x{% endif %}"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    <ul id="page-ul" class="pagination justify-content-center">
        <li class="page-item {{'active' if offset|int  == 0}}"><a class="page-link" href="{{url}}&offset=0">1</a></li>
        <li class="page-item {{'active' if offset|int == 8}}"><a class="page-link" href="{{url}}&offset=8">2</a></li>
        <li class="page-item {{'active' if offset|int == 16}}"><a class="page-link" href="{{url}}&offset=16">3</a></li>
        <li class="page-item {{'active' if offset|int == 24}}"><a class="page-link" href="{{url}}&offset=24">4</a></li>
        <li class="page-item {{'active' if offset|int == 32}}"><a class="page-link" href="{{url}}&offset=32">5</a></li>
      </ul>
    {% else %}
    <div class="jumbotron my-4">
        <div class="container">
            <h1 class="display-4 text-danger text-center"> No more recipes!
            <a href="/" class="btn btn-outline-info btn-lg">Home</a>
            </h1>
        </div>
    </div>
    {% endif %}
    <div class="flex">
        <a href="/" class="btn btn-outline-success btn-lg" style="background-color:#fda898;">Home</a>
    </div>
</div>
{% endblock %}