{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<div class="container">
    <h1 class="display-5 font-weight-bold">Username: {{user.username}}</h1>
    <div class="col-7">
        <h5 class="font-weight-bold">Email: {{user.email}}</h5>      
    </div>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button class="btn btn-outline-danger btn-lg"  type="submit">Delete</button>
    </form>
    <a class="btn btn-outline-success btn-lg" style="background-color: #fda898;" href="/users/{{user.id}}/update">
      
        <div class="row">
            <button class="btn btn-outline" type="submit">Edit</button>
        </div>
    </a>
</div>


{% endblock %}
