{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<div class="border border-success rounded px-md-5 p-4 container">
    <h1 class="display-5 font-weight-bold">Username: {{user.username}}</h1>
    <div class="col-7">
        <h5 class="font-weight-bold">Email: {{user.email}}</h5>      
    </div>
    
    <form action="/users/{{user.id}}/delete" method="POST">
        <button class="btn btn-outline-danger btn-lg"  type="submit">Delete</button>
    </form>
    <a href="/users/{{user.id}}/update">
          <button class="btn btn-outline-danger btn-lg" type="submit">Edit</button>
    </a>
</div>


{% endblock %}
